<body>
  <!-- CABEÇALHO -->
  <header class="cabecalho">
    <img
      class="cabecalho-imagem"
      src="assets/logo_estudio.svg"
      alt="Logo da Marca"
    />
    <a class="cabecalho-menu-item" mat-button href="#quemSomos"> QUEM SOMOS </a>
    <a class="cabecalho-menu-item" mat-button href="#oQueSomos">
      O QUE SOMOS
    </a>
    <a class="cabecalho-menu-item" mat-button href="#timeCajueiro">
      CAJUEIRO
    </a>
    <a class="cabecalho-menu-item" mat-button href="#contato">NOSSO CONTATO</a>
  </header>
  <main class="conteudo">
    <section class="conteudo-principal">
      <div class="conteudo-principal-titulo">
        <h1 class="conteudo-principal-texto">Criatividade natural da Bahia</h1>
      </div>
      <img
        class="conteudo-principal-imagem"
        src="assets/mar-300.svg"
        alt="Logo da Marca"
      />
    </section>
    <!-- coluna introdução -->
    <section id="quemSomos" class="conteudo-secundario">
      <div class="conteudo-secundario-escrito">
        <h1 class="conteudo-secundario-escrito-titulo">Quem somos</h1>
        <h2 class="conteudo-secundario-escrito-subtitulo">
          Somos um estúdio online de estratégias criativas para empresas e
          marcas Brasileiras que buscam posicionamento nas redes sociais.
        </h2>
      </div>
      <img
        class="conteudo-secundario-imagem"
        src="assets/propaganda-01.png"
        alt="Propaganda de celular"
      />
    </section>
    <!-- coluna Serviço -->
    <section id="oQueSomos" class="conteudo-terciario">
      <div class="conteudo-terciario-escrito">
        <h1 class="conteudo-terciario-escrito-titulo">Serviço</h1>
        <div class="conteudo-terciario-escrito-texto">
          <div class="linhas">
            <a class="bola-numero">1</a>
            <a class="conteudo-secundario-escrito-subtitulo"
              >planejamento estratégico de conteúdo</a
            >
          </div>
          <div class="linhas">
            <a class="bola-numero">2</a>
            <a>planejamento estratégico de conteúdo</a>
          </div>
          <div class="linhas">
            <a class="bola-numero">3</a>
            <a>Branding & reebranding</a>
          </div>
          <div class="linhas">
            <a class="bola-numero">4</a>
            <a>identidade visual</a>
          </div>
        </div>
        <div class="conteudo-terciario-escrito-texto">
          <div class="linhas">
            <a class="bola-numero">5</a>
            <a>produção e direção de fotografia para marcas</a>
          </div>
          <div class="linhas">
            <a class="bola-numero">6</a>
            <a>prospecção de publico online</a>
          </div>
          <div class="linhas">
            <a class="bola-numero">7</a>
            <a>linha visual feed e stories</a>
          </div>
          <div class="linhas">
            <a class="bola-numero">8</a>
            <a>tráfego pago</a>
          </div>
        </div>
      </div>
    </section>
    <!-- coluna Trabalho -->
    <section class="conteudo-quaternario">
      <div class="conteudo-quaternario-escrito">
        <h1 class="conteudo-quaternario-escrito-titulo">Trabalhos</h1>
        <p class="conteudo-quaternario-escrito-subtitulo">
          Social Media/ gerenciamento de redes sociais.
          -----------------------------------------------
        </p>
        <p class="conteudo-quaternario-escrito-subtitulo">
          planejamento estratégico de conteúdo.
          --------------------------------------------------
        </p>
        <p class="conteudo-quaternario-escrito-subtitulo">
          prospecção de publico online.
          ------------------------------------------------------
        </p>
      </div>
      <img
        class="conteudo-quaternario-imagem"
        src="assets/teste-200.svg"
        alt="Logo da Marca"
      />
    </section>
    <!-- coluna equipe -->
    <section id="timeCajueiro" class="conteudo-quinto">
      <div class="conteudo-quinto-escrito">
        <h1 class="conteudo-quinto-escrito-titulo">Time Cajueiro</h1>
        <div class="conteudo-quinto-escrito-texto">
          <div class="linhas">
            <img
              class="conteudo-quinto-imagem"
              src="../../../assets/circulo-victoria.svg"
              alt="foto da equipe"
            />
            <p>Victoria</p>
            <p class="conteudo-quinto-escrito-subtitulo">
              Cofundadora da Ajú, diretora de planejamento e conteúdo
              estratégico.
            </p>
            <p>
              Adora acarajé, banho de mar e perambular pela cidade, diz ela que
              é boêmia.Se deixar faz reunião de 3 horas e fica falando as 3
              horas sem parar. Boatos que adora a natureza e que em dias de
              folga corre para os matos.
            </p>
          </div>
          <div class="linhas">
            <img
              class="conteudo-quinto-imagem"
              src="../../../assets/circulo-sarah.svg"
              alt="foto da equipe"
            />
            <p>Sarah</p>
            <p class="conteudo-quinto-escrito-subtitulo">
              Cofundadora da Ajú, produtora e diretora fotográfica
            </p>
            <p>
              Adora um pastel com caldo cana e depois descansar numa rede. É
              daquelas que fica calada observando e quando fala é sempre pra dar
              aquela ideia fora da caixinha para equipe.
            </p>
          </div>
        </div>
        <div class="conteudo-quinto-escrito-texto">
          <div class="linhas">
            <img
              class="conteudo-quinto-imagem"
              src="../../../assets/circulo-gabriel.svg"
              alt="foto da equipe"
            />
            <p>Gabriel</p>
            <p class="conteudo-quinto-escrito-subtitulo">Gestor de Tráfego</p>
            <p>
              Adora ler um livro depois uma corridinha na praia, é 8 ou 80:
              adora uma tranquilidade mas não recusa uma AGONIA. Ele é daquelees
              que sempre dá os melhores conselhos e iniciativas para a equipe.
              Boatos que ele é o nosso Guru,rs.
            </p>
          </div>
          <div class="linhas">
            <img
              class="conteudo-quinto-imagem"
              src="../../../assets/circulo-everton.svg"
              alt="foto da equipe"
            />
            <p>Everton</p>
            <p class="conteudo-quinto-escrito-subtitulo">
              Design e criador de indentidade visual
            </p>
            <p>
              Adora comida e uma boa resenha, parece tímido mas é só dar uma
              brecha que solta umas piadas inesperadas fazendo todo mundo rir.
              Podemos dizer que a criatividade é seu sobrenome, além de ser o
              mais organizado da equipe.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- RODAPÉ -->
  <footer id="contato" class="rodape">
    <h1 class="rodape-titulo">CONTATO</h1>
    <div class="rodape-conteudo">
      <div class="rodape-conteudo-texto">
        <p>Ajú estúdio</p>
        <p>+55 71 9683-8348</p>
      </div>
      <div class="rodape-conteudo-texto">
        <p>contatoajuestudio@gmail.com</p>
        <p>@ajuestudio</p>
      </div>
      <div class="rodape-conteudo-texto">
        <a
          link
          href="https://www.instagram.com/ajuestudio/"
          class="button-orcamento"
        >
          Faça seu orçamento
        </a>
      </div>
    </div>
    <div class="rodape-conteudo">
      <a link href="https://www.instagram.com/ajuestudio/">
        <img
          class="rodape-conteudo-icone"
          src="../../../assets/icone-instagram.svg"
          alt="foto do icone do instagram"
      /></a>
      <img
        class="rodape-conteudo-icone"
        src="../../../assets/icone-whastapp.svg"
        alt="foto do icone do whastapp"
      />
      <a
        href="mailto:contatoajuestudio@gmail.com?subject=Gostaria%20de%20fazer%20um%20orçamento"
      >
        <img
          class="rodape-conteudo-icone-email"
          src="../../../assets/email.svg"
          alt="foto do icone do email"
        />
      </a>
    </div>
  </footer>
  <!-- <footer class="conteudo-rodape">
    <div id="conteudoRodape" class="conteudo-rodape-linha">
      <h1 class="conteudo-rodape-escrito-titulo">contato</h1>

      <div class="conteudo-rodape-escrito">
        <div class="conteudo-rodape-escrito-subtitulo">
          <img
            class="rodape-icone"
            src="../../../assets/telefone.svg"
            alt="foto do icone do telefone"
          />
          <p>+55 71 9683-8348</p>
        </div>
        <div class="conteudo-rodape-escrito-subtitulo">
          <img
            class="rodape-icone"
            src="../../../assets/localizacao.svg"
            alt="foto do icone do localizacao"
          />
          <div>
            <p>Salvador, Bahia</p>
          </div>
        </div>
      </div>
      <div class="conteudo-rodape-escrito-subtitulo">
        <a link href="https://www.instagram.com/ajuestudio/">
          <img
            class="rodape-icone"
            src="../../../assets/icone-instagram.svg"
            alt="foto do icone do instagram"
        /></a>
        <img
          class="rodape-icone"
          src="../../../assets/icone-whastapp.svg"
          alt="foto do icone do whastapp"
        />
        <a
          href="mailto:contatoajuestudio@gmail.com?subject=Gostaria%20de%20fazer%20um%20orçamento"
        >
          <img
            class="rodape-icone"
            src="../../../assets/email.svg"
            alt="foto do icone do email"
          />
        </a>

        <button class="button-orcamento" mat-raised-button>
          Faça seu orçamento
        </button>
      </div>
    </div>
  </footer> -->
</body>

<!-- <div class="main">
  <mat-toolbar>
    <mat-toolbar-row class="top">
      <img class="logotipo" src="assets/logotipo-azul-do-mar.png" />
      <button class="button-top" mat-button>QUEM SOMOS</button>
      <button class="button-topp" mat-button>O QUE SOMOS</button>
      <button class="button-topp" mat-button>NOSSO CONTATO</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div  fxLayout="column">
    <h1>Serviço</h1>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-icon>filter_1</mat-icon>
      <mat-icon>filter_2</mat-icon>
      <mat-icon>filter_3</mat-icon>
      <mat-icon>filter_4</mat-icon>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="rodape">
    <h1>CONTATO</h1>
    <mat-divider></mat-divider>
    <p>Telefone :</p>
    <p>(71)xxxxx-xxxx</p>
    <p>Endereço :</p>
    <p>
      Av. Santos Dummont, 5481, Casa A 26 – Lauro de Freitas, Bahia CEP:
      42700-000
    </p>
    <div fxLayout="column" fxLayoutAlign="space-around end">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</div>
 -->
