/* .logotipo {
  margin-left: 150px;
  width: 120px;
}
.button-top {
  margin-top: 30px;
  margin-left: 250px;
}
.button-topp {
  margin-top: 30px;
  margin-left: 50px;
}
.top {
  height: 90px;
  background-color: #f8eede;
  background-size: auto;
  background-repeat: no-repeat;
}
.rodape {
  background-color: #f8eede;
  margin: auto;
}
.main {
  margin: auto;
  min-width: 400px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100%;
  font-size: 100%;
  background: #f8eede;
  background-size: auto;
  background-repeat: no-repeat;
}
h1 {
  font-family: 'poppins-bold';
}
.cabecalho-menu-item{
  font-family: 'FuzzyBubbles';
}
.cabecalho{
display: flex;
flex-direction: row;
}
.cabecalho-imagem{
display: flex;
flex-direction: row;
}

.cabecalho-menu-item{
display: flex;
flex-direction: row;
}
.conteudo{
display: flex;
flex-direction: row;
}
