.logotipo {
  margin-left: 150px;
  width: 120px;
  //height: 90px;
}
.button-top {
  margin-top: 30px;
  margin-left: 250px;
  //padding-left: 90px;
}
.button-topp {
  margin-top: 30px;
  margin-left: 50px;
  //padding-left: 90px;
}
.top {
  //max-width: max-content;
  //width: 100%;
  height: 90px;
  //color: #F8EEDE;
  background-color: #f8eede;
  background-size: auto;
  background-repeat: no-repeat;
}
.rodape {
  background-color: #f8eede;
  margin: auto;
}
.main {
  //padding: 20px;
  margin: auto;
  min-width: 400px;
  //max-width: 1800px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  background: #f8eede;
}
.cabecalho{
display: flex;
flex-direction: row;
}
