$branco: #fafafa;
$preto: #1a1a1a;
$barro: #ba431d;

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  //margin-left: 10vh;
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

nav {
  //background-color: #161616;
  color: $barro;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;

}

nav-list {
  color: $barro;
}

nav,
ul {
  display: flex;
  flex-direction: row;
}

li {
  //padding: 10px;
  display: inline-block;
  margin: 20px;
}


button {
  background-color: transparent;
  border: none;
  color: $barro;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 30px;
  height: 8vh;
  display: none;
}

li:hover,
h1:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.2);
}

button:focus~ul {
  height: 260px;
}

@media (max-width: 1000px) {

  nav,
  ul {
    flex-direction: column;
  }

  ul {
    text-align: center;
    margin: 0;
    height: 0;
  }

  nav {
    padding: 0;
    align-items: flex-start;
  }

  h1 {
    margin: 10px;
  }

  button {
    display: flex;
  }

  li,
  ul {
    width: 100%;
  }
}

header {
  //display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: center;
}

#boasVindas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#texto-boasVindas {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  //margin: 30px;
}

#imagem-boasVindas {
  display: flex;
  width: 800px;
  justify-content: flex-end;
  margin-left: 40vh;
}

#quemSomos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#texto-quemSomos {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  //margin: 30px;
}

#imagem-quemSomos {
  display: flex;
  width: 800px;
  justify-content: flex-end;
  margin-left: 40vh;

}

h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 50px;
}

h2 {
  font-size: 45px;
  font-weight: 200;
  font-size: bold;
  line-height: 40px;
}
