<body>
  <header>
    <article>
      <a href="/">
        <img src="assets/logo_estudio.svg" alt="Logo da Marca" id="logo" />
      </a>
    </article>
    <nav>
      <aside>
        <button mat-button><mat-icon>menu</mat-icon></button>
        <ul>
          <a mat-button href="#boasVindas"><li>BOAS VINDAS</li></a>
          <a mat-button href="#quemSomos"><li>QUEM SOMOS</li></a>
          <a mat-button href="#servicos"><li>SERVIÇOS</li></a>
          <a mat-button href="#timeCajueiro"><li>CAJUEIRO</li></a>
          <a mat-button href="#contato"><li>NOSSO CONTATO</li></a>
        </ul>
      </aside>
    </nav>
  </header>
  <main>
    <section id="boasVindas">
      <aside id="texto-boasVindas">
        <h1>Criatividade natural da Bahia</h1>
        <h3>Bem vindos</h3>
        <aside id="title">
          <h4>Ondas de</h4>
          <span><h4 id="criatividade">criatividade</h4></span>
          <h4>seguindo o ritmo do mar baiano.</h4>
        </aside>
      </aside>
      <article>
        <img
          id="imagem-boasVindas"
          src="assets/mar-300.svg"
          alt="Logo da Marca"
        />
      </article>
    </section>
    <section id="quemSomos">
      <article>
        <img
          id="imagem-QuemSomos"
          src="assets/propaganda-01.png"
          alt="Propaganda de celular"
        />
      </article>
      <aside id="texto-quemSomos">
        <h2>Quem somos ?</h2>
        <h3>
          Somos um estúdio online de estratégias criativas para empresas e
          marcas Brasileiras que buscam posicionamento nas redes sociais.
        </h3>
      </aside>
    </section>
    <section id="servicos">
      <h1>Serviços</h1>
      <aside id="texto-servico">
        <aside id="container-circulo">
          <div>
            <h4>1</h4>
          </div>
          <h3>Social Media/ gerenciamento de redes sociais</h3>
        </aside>
        <aside id="container-circulo">
          <div>
            <h4>2</h4>
          </div>
          <h3>Planejamento estratégico de conteúdo</h3>
        </aside>
        <aside id="container-circulo">
          <div>
            <h4>3</h4>
          </div>
          <h3>Branding & reebranding</h3>
        </aside>
        <aside id="container-circulo">
          <div>
            <h4>4</h4>
          </div>
          <h3>Identidade visual</h3>
        </aside>
      </aside>
      <aside id="texto-servico">
        <aside id="container-circulo">
          <div>
            <h4>5</h4>
          </div>
          <h3>Produção e direção de fotografia para marcas</h3>
        </aside>
        <aside id="container-circulo">
          <div>
            <h4>6</h4>
          </div>
          <h3>Prospecção de público online</h3>
        </aside>
        <aside id="container-circulo">
          <div>
            <h4>7</h4>
          </div>
          <h3>Linha visual feed e stories</h3>
        </aside>
        <aside id="container-circulo">
          <div>
            <h4>8</h4>
          </div>
          <h3>Tráfego pago</h3>
        </aside>
      </aside>
    </section>
    <section id="trabalhos">
      <h1>Trabalhos</h1>
      <div id="trabalhos-container">
        <aside id="semMargem">
          <div>
            <h3>Social Media/ gerenciamento de redes sociais</h3>
            <mat-divider style="width: 100%"></mat-divider>
          </div>
          <div>
            <h3>Planejamento estratégico de conteúdo</h3>
            <mat-divider style="width: 100%"></mat-divider>
          </div>
          <div>
            <h3>Prospecção de público online</h3>
            <mat-divider style="width: 100%"></mat-divider>
          </div>
        </aside>
        <article>
          <img alt="instagram flat308" src="assets/flat308.svg" />
        </article>
      </div>
    </section>
    <section id="conteudo">
      <div>
        <article id="container-img-1">
          <img src="assets/conteudo1.svg" />
          <img src="assets/conteudo2.svg" />
          <img src="assets/conteudo3.svg" />
        </article>
      </div>
      <div>
        <aside id="container-texto">
          <h3>Produção de</h3>
          <h3 id="midias">mídias</h3>
          <h3>& conteúdo</h3>
        </aside>
        <article id="container-img-3">
          <img src="assets/conteudo4.svg" />
          <img src="assets/conteudo1.svg" />
        </article>
      </div>
    </section>
    <section id="timeCajueiro"></section>
    <section id="contato">
      <aside><h1>Contatos</h1></aside>
      <div id="linha">
        <article id="icone-contato">
          <a link href="https://www.instagram.com/ajuestudio/">
            <img
              src="../../../assets/icone-instagram.svg"
              alt="foto do icone do instagram"
            />
          </a>
          <a link href="https://bit.ly/3Qi0eAf">
            <img
              src="../../../assets/icone-whastapp.svg"
              alt="foto do icone do whatsApp"
            />
          </a>
          <a
            link
            href="mailto:contatoajuestudio@gmail.com?subject=Gostaria%20de%20fazer%20um%20orçamento"
          >
            <img
              src="../../../assets/icone-email.svg"
              alt="foto do icone do whatsApp"
            />
          </a>
        </article>
        <aside>
          <a id="bordeButton" mat-button href="https://bit.ly/3Qi0eAf"
            ><button>Orçamento</button></a
          >
        </aside>
      </div>
      <aside id="texto-rodape">
        <h3>~Atraia e crie conexão com seus clientes</h3>
      </aside>
      <article id="logotipo-rodape">
        <img
          src="../../../assets/logotipo-padrao.png"
          alt="foto do icone do whatsApp"
        />
      </article>
    </section>
  </main>
</body>
