
$branco: #fafafa;
$preto: #1a1a1a;
$barro: #ba431d;
$beje: #DAABBC;
$cinza-claro: #F8EEDE;
$amarelo: #FEB657;
$verde: #5B896C;
$azul: #3768B3;

body {
  margin: 0 auto;
  font-family: "poppins-medium";
  font-size: 100%;
  background-color: $cinza-claro;
  color: $barro;
  //max-width: 1200px;
  //padding: 2px
}

@font-face {
  font-family: "fuzzyBubbles";
  src: url(assets/sources/FuzzyBubbles-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "poppins-bold";
  src: url(assets/sources/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "poppins-bold-italic";
  src: url(assets/sources/Poppins-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url(assets/sources/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "poppins-medium-italic";
  src: url(assets/sources/Poppins-MediumItalic.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
